# requirements.txt

streamlit
pandas
google-generativeai
numpy
scikit-learn
feedparser
beautifulsoup4
lxml
janome
sumy
psycopg2-binary # PostgreSQL (Supabase) 接続用
SQLAlchemy      # st.connection でのDB操作 (text()など) 用
